*,
*::before,
*::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  color: #448A8A;
}
header{
  padding-top: 10%;
  padding-bottom: 13%;
  text-align: center;
}
.header-content H1{
  font-weight: 400;
  font-size: 45px;
}
.header-logo{
  margin-top: 20px;
}
.header-logo img{
  max-width: 350px;
}

.some-icons{
  width: 100%;
  height: auto;
  padding: 20px;
}
.icons{
  float: right;
}
.icons img{
  width: 35px;
  margin-right: 10px;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}
.wrapper{
  max-width: 1300px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background: #448A8A;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}
.container-reverse{
  background-color: #FFFFFF;
}
.image{
  text-align: center;
}
.image img{
  max-width: 280px;
}
.container-wrap{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 7% 0;
  align-items: center;
}
.green{
  background-color: #AECDCF;
}
.white{
  background-color: #FFFFFF;
}
.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.dot {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  right: -12px;
  background: #448A8A;
  border-radius: 20px;
  z-index: 1;
}

.container.right::after {
  left: -12px;
}

.content{
  padding: 0 10px;
}
.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #448A8A;
  line-height: 1.5;
}
span{
  font-weight: 600;
}

@media (max-width: 800px) {

  header{
    padding: 30% 0;
    text-align: center;
  }
  .header-content{
    width: 90%;
    margin: 0 auto;
  }
  .header-content H1{
    font-size: 36px;
  }
  .header-logo{
    margin-top: 30px;
  }
  .header-logo img{
    max-width: 250px;
  }

  .container-wrap{
    flex-wrap: wrap;
    padding-top: 10%;
    padding-bottom: 15%;
  }
  .container-reverse{
    flex-flow: column-reverse;
  }
  .timeline::after {
    left: 60px;
    width: 4px;
    margin-left: -2px;
  }
  .dot {
    display: none;
  }
  .image img{
    max-width: 150px;
  }
  .container {
    width: 100%;
    padding-left: 100px;
    padding-right: 30px;
  }
  .content{
    padding: 0 0;
  }
  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

}

@media (max-width: 800px) {

  header{
    padding: 30% 0;
    text-align: center;
  }
  .header-content{
    width: 90%;
    margin: 0 auto;
  }
  .header-content H1{
    font-size: 26px;
  }
  .header-logo{
    margin-top: 30px;
  }
  .header-logo img{
    max-width: 150px;
  }

  .container-wrap{
    flex-wrap: wrap;
    padding-top: 10%;
    padding-bottom: 15%;
  }
  .container-reverse{
    flex-flow: column-reverse;
  }
  .timeline::after {
    left: 25px;
    width: 4px;
    margin-left: -2px;
  }
  .image img{
    max-width: 150px;
  }
  .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 30px;
  }

}
